.bieudoPie{
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;


    width: 100%;
    max-width: 950px;
    margin: 0 auto;

    order: 1;

}

#bieudo-TruotDo{

}

#bieudo-Diem{
    margin-right: 260px;
}