button {
    border-radius: 5px;
}

.monHocMuc,
.monHocMuc:hover {
    padding-left: 20px;
    margin-left: -20px;
    background-color: var(--red-color);
}

h1 {
    font-size: 30px;
}

.tieuDeTrang {
    margin-left: 20px;
}

.themVaTimKiem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

.nutThemMH,
.nutTimKiem {
    background-color: var(--red-color);
    color: var(--white-color);
    font-size: 12px;
    padding: 3px;
    border: none
}

.nutTimKiem {
    margin-right: 10px;
}

.nutThemMH:hover,
.nutTimKiem:hover {
    background-color: var(--red-color);
    opacity: 0.7;
}

.nutThemMH_tieuDe {
    margin-right: 10px;
}

.timKiem {
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.tieuDeTimKiem {
    margin-right: 10px;
    line-height: 40px;
    align-items: center;
}

.nhapTimKiem {
    padding: 10px;
    width: 20vw;
    margin-right: 10px;
    border-radius: 5px;
    border-width: 1px;
}

.nutTimKiem_tieuDe {
    margin-right: 5px;
}

/* table */
.hanh-dong {
    width: 115px;
    align-items: center;

}



.cot-maSV {
    width: 109px;
}

.cot-Diem{
    width: 120px;
    text-align: center;
}

.cot-Trangthai{
    width: 100px;
    text-align: center;
}

#ttQua{
    color: rgb(10, 188, 10);
}

#ttTruot{
    color: red;
}

.cot-tenSV{
    width: 180px;
    text-align: center;
}


.boc-bang {
    width: 74vw;
    overflow-x: auto;
    padding: 10px 10px 15px 10px;
    margin-left: 10px;
}

.danhSach {
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    color: var(--text-color);
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

th, td {
    padding: 10px 15px;
    font-weight: 500;
}

/* sort cột */

table th {
    position: relative;
}

.hang1 {
    line-height: 40px;
    margin-bottom: 10px;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: bold;
}

table th[data-sort]::before,
table th[data-sort]::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    right: 10px;
    opacity: 0.3;
    border: 4px solid transparent;
}

table th[data-sort]::before {
    top: 20px;
    border-bottom-color: white;
}

table th[data-sort]::after {
    top: 30px;
    border-top-color: white;
}

table th.asc::before,
table th.desc::after {
    opacity: 1;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

.chucNang {
    text-align: center;
    align-items: center;

}

.hop-hanh-dong-nut {
    align-items: center;
    font-size: 12px;
    padding: 8px 12px;
    color: var(--white-color);
    text-align: center;
    border: none;

}

.sua {
    align-items: center;
    background-color: rgb(24, 170, 255);
    text-align: center;
    border: none;
}

.sua:hover {
    background-color: rgba(24, 170, 255, 0.8);
    text-align: center;

}

.sua_tieuDe {
    text-align: center;
}

.xoa {
    background-color: var(--red-color);
}

.xoa:hover {
    background-color: var(--red-color);
    opacity: 0.8;
}

.xoa_tieuDe {
    margin-right: 5px;
}

/* đóng menu */
.manHinhChinh.dongMenu .boc-bang {
    width: 90vw;
}

@media screen and (max-width: 740px) {
    .dauTrang {
        flex-direction: column;
    }

    .boc-bang {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .boc-bang {
        width: 100%;
    }
}