* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.clear {
    clear: both;
}


.text-white {
    color: #fff !important;
}


.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.btn {
    background-color: #000;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 11px 16px;
    font-size: 15px;
    margin-top: 15px;
    border: none;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.row::after {
    display: block;
    content: "";
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100%/3);
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px;
}




.modal-container {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.boc-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal {
    position: relative;
    top: 10%;
    bottom: 10%;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.modal-container {
    position: relative;
    background-color: #fff;
    width: 600px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
}



.modal-header {
    background: var(--red-color);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    padding: 15px;
}

.modal-close {
    position: absolute;
    right: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}


.modal-close:hover {
    opacity: 1;
}


.modal-close1:hover {
    opacity: 1;
}

.modal-body {
    padding: 15px;
    height: fit-content;
    overflow: auto;
}

.modal-label {
    font-size: 15px;
    display: block;
    margin-bottom: 8px;
    margin-top: 18px;
}


.modal-input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;

}



.buy-btn {
    width: 100%;
    background-color: var(--red-color);
    color: #fff;
    padding: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.buy-btn:hover {
    opacity: 0.7;
}


.modal-footer {
    padding: 15px;
    text-align: right;
}

.modal-footer .a {
    color: #2196F3;
}

.hien-thi-modal {
    display: flex !important;
}

.error-message {
    display: none;
    color: red;
    margin: auto;
}



@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}