body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.tb-loi-nhap {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

form {
    background-color: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 40px;
}

button:hover {
    background-color: #45a049;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 600px) {
    form {
        margin-top: 15%;
        margin-bottom: 15%;
        width: 80%;
    }
}