body {
    display: flex;
    flex-direction: row;
}

.menu{
    width: 20%;
    height: 100%;
    background-color: #001529;
    padding-left: 20px;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin: 0;
    overflow: auto;
}

.manHinhChinh {
    width: 80%;
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 20%;
    overflow-x: auto;
}

.menuChinh {
    background-color: var(--menu-color);
}

.nganCach{
    height: 0.5px;
    margin-left: -20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.tieuDe {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.logo {
    height: 30px;
    width: 30px;
}

.tenTieuDe {
    padding-left: 10px;
    font-size: 1.8rem;
    line-height: 30px;
}

.taiKhoan {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.avatar {
    height: 30px;
    width: 30px;
}

.tenTaiKhoan {
    padding-left: 10px;
    font-size: 1.5rem;
    line-height: 30px;
}

.menuMuc {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    text-decoration: none;
    color: var(--white-color);
}

.menuMuc:hover {
    background-color: rgba(255, 255, 255, 0.3)s;
    padding-left: 20px;
    margin-left: -20px;
}

.icon-Muc {
    height: 24px;
    width: 24px;
}

.menuMuc-tieuDe {
    padding-left: 10px;
    font-size: 1.4rem;
    line-height: 24px;
}

.dangXuat {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    background-color: var(--red-color);
    margin-left: -20px;
}

.icon-DangXuat {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.dangXuat-tieuDe {
    padding-left: 12px;
    line-height: 30px;
    font-size: 1.6rem;
}

.thongTin-cacMucCon,
.monHoc-cacMucCon,
.khoa-cacMucCon,
.nguoiDung-cacMucCon {
    display: none;
    background-color: rgba(0,0,0,.85);
    margin-left: -20px;
    padding-left: 55px;
}

.mucCon:hover {
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: -55px;
    padding-left: 60px;
}

.open {
    display: flex;
    flex-direction: column;
}

.mucCon {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 24px;
    padding: 10px 5px;
}