.blank {
    width: 624.64px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.body{
    margin: 0;
    font-family: Nunito,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f8fafc;
}


.blank p {
    text-transform: uppercase;
    font-size: 27.2px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: center;
    color: #cf4327;
    margin-top: 15.36px;
    margin-bottom: 0 !important;
}


* {
    font-family: 'Roboto', sans-serif;
}

a{
    color: #cf4327;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-decoration: none;
}