.xemDiemMuc,
.xemDiemMuc:hover {
    padding-left: 20px;
    margin-left: -20px;
    background-color: var(--red-color);
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #f2f2f2;*/
    background-image: url("../../../assets/images/student_study_with_lap.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --red-color: #cc0d00;
    --text-color: #333;
    --subtext-color: #756f6e;
    --hover-noti-color: #dbdbdb;
    --menu-color: #001529;
    --hover-color: rgba(255, 255, 255, 0.3);
}


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


h1 {
    font-size:30px;
    text-align: center;
    padding: 10px;
}


.scrollable-table {
    width: 100%;
    overflow-x: auto;
}

/* Định dạng nội dung bảng */
.scrollable-table table {
    width: 100%;
    border-collapse: collapse;
}

/* Định dạng các ô trong bảng */
.scrollable-table td, .scrollable-table th {
    padding: 8px;
    border: 1px solid #ccc;
}

.semester-heading {
    font-weight: bold;
}

.hang1{
    line-height: 40px;
    margin-bottom: 10px;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: bold;
}